<!DOCTYPE html>
<html>
  <head>
    <title>My Social Network</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1>Welcome to my social network!</h1>
    <form action="{{ url_for('unfollow') }}" method="post">
      <label for="username">UnFollow a user:</label>
      <input type="text" id="username" name="username" placeholder="Enter a username">
      <input type="submit" value="unfollow">
    </form>
    {% endblock %}
  </body>
</html>
