flask==2.2.2
Flask-Login==0.6.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
WTForms==3.0.1
flask-Bcrypt==1.0.1
matplotlib==3.6.0
pandas==1.5.0
bcrypt==4.0.0
Jinja2==3.1.2
MarkupSafe==2.1.1
numpy==1.23.3
packaging==21.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
SQLAlchemy==1.4.40
Werkzeug==2.2.3

